{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/no-unknown-property": ["error", { "ignore": ["css"] }],
    "no-undef": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}